<% provide(:title, "log in") %>
<h1>login</h1>

<% if @message != "" then %>
  <%= @message %>
<% end %>

<%= form_for(:session, url: login_path) do |form| %>
  <table>
    <tr><th>id</th>
      <td><%= form.text_field :name %></td>
    </tr>
    <tr><th>password</th>
      <td><%= form.text_field :password %></td>
    </tr>
    <tr><th></th>
      <td><%= form.submit "login" %></td>
    </tr>

    <p><%= link_to "register", signup_path %></p>
  </table>
<% end %>
