<% provide(:title, "log in") %>
<h1>login</h1>

<% if @message != "" then %>
  <%= @message %>
<% end %>

<%= form_for(:session, url: login_path) do |form| %>
    <th>id</th>
      <p><td><%= form.text_field :name %></td></p>
    <th>password</th>
      <p><td><%= form.password_field :password %></td></p>
    <th></th>
      <p><td><%= form.submit "login" %></td></p>

    <p><%= link_to "register", signup_path %></p>
<% end %>
