<h1>register_form</h1>

<% if @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |err| %>
    <li><%= err %></li>
  <% end %>
</ul>
<% end %>
<% if @message != "" then %>
  <%= @message %>
<% end %>

<%= form_for(@user, url:{controller: 'users', action:'new'}) do |form| %>
    <th>id</th>
      <p><td><%= form.text_field :name %></td></p>
    <th>password<th>
      <p><td><%= form.text_field :password %></td></p>
    <th>confirmation<th>
      <p><td><%= form.text_field :password_confirmation %></td></p>
    <th></th>
      <p><td><%= form.submit "register" %></td></p>
    <p><%= link_to "back", '/login' %></p>
<% end %>